.logInPage{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 80px;
    margin-bottom: 100px;
    border: 1px solid grey;
    width: 400px;
    height: 400px;
    border-radius: 10px;
    background-color: lightgrey;
}
.logInPage Button{
    padding: 0px 10px;
    font-size: 17px;
    margin-left: 10px;
    
}
.logInPage h5{
    font-weight: bolder;
    margin-top: 20px;
    
}
#signInLink a{
    font-size: 20px;
    color: darkgreen;
    
    
}
article{
    font-size: 20px;
    margin-bottom: 20px;
}